body{
    background-color: hotpink;
}
div{
    border: 2px dashed green;
    
}
div ul{
    border: inherit;
}
#gol{
    color: red;
}
#def{
    color: yellow;
    font-family: Arial, Helvetica, sans-serif;
}
#mei{
    color: green;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#ata{
    color: blue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
li{
    font-size: 20px;
    font-weight: 600;
    line-height: 1.5;
}
h1{
    text-align: center;
    text-decoration: line-through;
}