h1{
    color: purple;
    border: hotpink 2px dashed;
}
li{
    color: green;
}
body{
    background-image: url('https://i.ytimg.com/vi/tpvc3g42X-0/maxresdefault.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.moon{
    color: hotpink;
}
#more60-text{
    font-size: 65px;
}
li > a{
    color: lawngreen;
}
h1 + h4{
    color: lightseagreen;
}
li:nth-of-type(2){
    color: purple;
}
